<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutoPulse Test Suite" verbose="1" parallel="false">

    <test name="Smoke Tests">
        <classes>
            <class name="com.autopulse.tests.ui.SmokeTest"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="com.autopulse.tests.ui.LoginTest"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="com.autopulse.tests.ui.ProductTest"/>
        </classes>
    </test>

</suite>